@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root,
:root[data-theme='dark'] {
  --primary-color: #f0f0f0;

  --primary-bg-color: #111217;
  --secundary-bg-color: #28292e;
  --primary-border-color: #28292e;
  --secundary-border-color: #c7c8c9;

  --title-color: #f0f0f0;
  --text-color: #9a9a9c;
  --link-color: #9a9a9c;
  --icon-color: #c7c8c9;
}

:root[data-theme='light'] {
  --primary-color: #0b0b0f;

  --primary-bg-color: #e9e9e9;
  --secundary-bg-color: #c7c8c9;
  --primary-border-color: #c7c8c9;
  --secundary-border-color: #56575a;

  --title-color: #0b0b0f;
  --text-color: #28292e;
  --link-color: ##28292e;
  --icon-color: #56575a;
}

html[data-theme='light'] .brand__logo {
  filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  list-style: none;
}

body {
  background-color: var(--primary-bg-color);
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: 'League Spartan', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--title-color);
  font-weight: 200;
  text-transform: uppercase;
}

b {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--primary-color);
  font-weight: 600;
}

i {
  color: var(--icon-color);
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 2;
}

.header__toggle {
  display: flex;
  justify-content: flex-end;
}

.header__brand .brand__logo {
  width: 2.75rem;
  height: 2.75rem;
  padding: 0;
}

#toggleTheme {
  font-size: 1.25rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.menu {
  display: flex;
  align-items: center;
  background: var(--primary-bg-color);
}

.menu__item {
  width: 100%;
}

.menu--mobile {
  width: 100vw;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  border-top: 1px solid var(--primary-border-color);
  z-index: 2;
  padding: 0.25rem 0;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
  color: var(--primary-color);
  font-weight: 600;
}

.menu--mobile .menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.menu__icon,
.menu__text {
  color: var(--text-color);
}

.menu__icon {
  font-size: 1.5rem;
}

.menu__text {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.header__nav {
  display: none;
}

.menu--principal {
  gap: 1rem;
}

.menu--social {
  gap: 0.5rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
  background-color: transparent;
  border-radius: 3.125rem;
  padding: 0.875rem 1.5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}

.btn span,
.btn i {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.btn--primary {
  border: 1px solid var(--primary-color);
}

.btn--primary span {
  color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main__content1 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
}

.main__content2 {
  padding: 0 1rem;
}

.main__content2 img {
  width: 100%;
  aspect-ratio: 16/9;
}

section {
  padding: 6.25rem 1rem 2rem 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
  padding: 6.25rem 1rem 2rem 1rem;
  background: var(--secundary-bg-color);
  margin-top: -3rem;
  z-index: 1;
}

.skills h2 {
  font-size: 2rem;
  text-transform: none;
}

.skills__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;
}

.skills__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  aspect-ratio: 1/1;
  border: 1px solid var(--secundary-border-color);
  border-radius: 50%;
}

.skills__logo {
  width: 2.375rem;
  height: 2.375rem;
  filter: brightness(0) invert(0.7);
}

footer {
  margin-bottom: 5rem;
}

footer p {
  color: var(--text-color);
  font-size: 0.875rem;
  text-align: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .header {
    position: fixed;
    border-bottom: 1px solid var(--primary-border-color);
    padding: 1rem 4rem;
    background: var(--primary-bg-color);
  }

  .nav--mobile {
    display: none;
  }

  .header__nav {
    display: flex;
  }

  .header__nav,
  .header__toggle {
    min-width: 30%;
  }

  h1 {
    font-size: 4rem;
  }

  main {
    padding: 8rem 6rem 4rem 6rem;
  }

  .main__content1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skills {
    justify-content: center;
    padding: 6.25rem 0rem 2rem 0rem;
    margin-top: -6rem;
  }

  .btn--primary span {
    font-size: 1rem;
  }

  footer {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  main {
    padding: 12rem 6rem 2rem;
  }

  .main__content1 .btn--primary {
    width: auto;
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 7rem 4rem;
  }

  .skills h2 {
    font-size: 3.5rem;
    width: 60%;
  }

  .skills__list {
    gap: 1rem;
  }

  .skills__item {
    width: 6rem;
    height: 6rem;
  }

  .skills__logo {
    width: 3rem;
    height: 3rem;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 6.25rem;
  }

  p {
    font-size: 1.5rem;
  }

  .header {
    padding: 1rem 15rem;
  }

  main {
    padding: 12rem 15rem 2rem;
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    padding: 10rem 16rem 4rem;
  }
}
